body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
}

ul,
.subtext {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2,
.quote {
    font-size: 36px;
    color: #1F2937;
}

h2 {
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
    font-style: italic;
}

button,
.action {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
}

/*layout starts here*/

.header,
ul,
.hero,
.hero-text,
.list,
.action {
    display: flex;
}

.header {
    padding: 10px 400px;
    justify-content: space-between;
    align-items: center;
}

ul {
    margin: 10px 0;
}

li {
    padding-left: 40px;
}

.hero {
    padding: 100px 400px;
    gap: 100px;
}

.hero-text {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

h1 {
    margin: 0;
}

button {
    padding: 10px 40px;
    border-radius: 10px;
}

.hero-button {
    margin-top: 20px;
}

